<!-- blog section
================================================== -->
<section id="blog" class="paralla-section">
	<div class="container">
		<div class="row">

			<h2>SHOWROOM</h2>
			<h4>Ongevalvrij - direct beschikbaar</h4>

			<div class="blog-masonry masonry-true">
                
                
                
                
                
                <div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="blog-wrapper">
						<img src="../images/blog-img-9.jpg" class="img-responsive" alt="blog img">
						<h3>Audi</h3>
                        <h4>A4 2.0D</h4>
						<p>Bouwjaar: 2011<br>Km's: 86.000km<br>Vermogen: 143pk</p>
                        <h3>€ 14.950</h3>
                        <h3><a href="cars/a4.html">Meer details &raquo;</a></h3>
					</div>
				</div>
                <div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="blog-wrapper">
						<img src="../images/blog-img-10.jpg" class="img-responsive" alt="blog img">
						<h3>Mercedes-Benz</h3>
                        <h4>SLK 200</h4>
						<p>Bouwjaar: 2005<br>Km's: 176.000km<br>Vermogen: 154pk</p>
                        <h3>€ 10.950</h3>
                        <h3><a href="cars/slk.html">Meer details &raquo;</a></h3>
					</div>
				</div>
                <div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="blog-wrapper">
						<img src="../images/blog-img-11.jpg" class="img-responsive" alt="blog img">
						<h3>BMW</h3>
                        <h4>M5</h4>
						<p>Bouwjaar: 2002<br>Km's: 194.000km<br>Vermogen: 400pk</p>
                        <h3>€ 22.500</h3>
                        <h3><a href="cars/m5.html">Meer details &raquo;</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>