<div class="container">
    <div class="row">

        <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay=".3s">
            <h3>Over TBN</h3>
            <p>The Business Network (TBN) is een sociaal netwerk ontwikkeld door Arno Lambert (<a href="http://www.aldesign.be" target="_blank">AL Design</a>), voor het opleidingsonderdeel WebApps aan de HoGent.</p>
        </div>

        <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay=".6s">
            <h3>Contactinfo</h3>
            <p><b>Locatie<br />
            </b>Oude Pittemstraat 48, 8700 TIELT</p>
            <p><b>Telefoon<br />
            </b>+32 (0)498 59 16 51</p>
            <p><b>E-mail<br />
            </b><a href="mailto:info@aldesign.be">info@aldesign.be</a></p>
        </div>

        <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay=".9s">
            <h3>Sociale netwerken</h3>
            <ul class="social-icon">
                <li>
                    <a class="fa fa-facebook" href="https://www.facebook.com/webdesignALDesign/" target="_blank"></a>
                </li>
                <li>
                    <a class="fa fa-instagram" href="https://www.instagram.com/arnolambert/" target="_blank"></a>
                </li>
                <li>
                    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/arnolambert/" target="_blank"></a>
                </li>
            </ul>
        </div>

    </div>
    <div class="row" id="copyright">
        <div class="col-md-12 wow fadeInUp" data-wow-delay="1.2s">
            <p copyright></p>
        </div>
    </div>
</div>
